html
 head
  title Word Builder
body
 h1 Hello #{username}
 if isCreator
  button( type="button" onclick="location.href='/createGame'") Create
 else
  button( type="button" onclick="location.href='/playGame'") Play