extends layout
script(src="javascripts/main.js" type="text/javascript")

block content
 div(id = "div_words")
 form
  span
   input(type="text" id="input_word")
   input(type="hidden" value="#{username}" id="hidden_username")
   button(type="button" id="btn_send") Send
  div(id="div_wordMeaning")