html
 head
  title Word Builder
  link(href="stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen")
body
 h1 Word-Builder
 form(method="post" action="/registerUser")
  |Enter Your Name:
  input(type="text" name="name")
  input(type="submit" value="Register")
